<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You are now follwing your post "<%= @post.title %>", and you will be notified of all activity. If you do not want to receive these emails, unfavorite <%= link_to "post", topic_post_url(@post.topic, @post) %>.</h1>
    <small>
      By: <%= @post.user.name %>
    </small>
    <p>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
