<h1>Advertisements</h1>
<% @advertisements.each do |ad| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to "$#{ad.price}: #{ad.title}", ad %>
      </h4>
    </div>
  </div>
<% end %>
