<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button class="social-btn">
  <%= link_to "Follow me on Github", "https://www.github.com/loganmartintran"%>
</button>

<!-- <button><a href="https://www.github.com/loganmartintran">Follow me on Github</button> -->
