<br>
<div class="jumbotron">
  <h1>Commune</h1>
  <p> Commune is a community forum for discussing topics and ideas with your friends!</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Commune it will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Commune will deliver money and education to those in need, all over the world</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Commune will make you beter looking: it's scientifically proven to make men look like Ryan Goslng and women look like Beyonce.</p>
  </div>
</div>
