// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  height: 40px;
  width: 200px;
  padding: 4px 4px 4px 4px;
}
